[submodule "vim/plugged/YCM-Generator"]
	path = vim/plugged/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim/plugged/YouCompleteMe"]
	path = vim/plugged/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/plugged/gocode"]
	path = vim/plugged/gocode
	url = https://github.com/nsf/gocode.git
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/plugged/vim-easy-align"]
	path = vim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/plugged/vim-go"]
	path = vim/plugged/vim-go
	url = https://github.com/fatih/vim-go.git
